h1 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 700;
}

h2 {
    font-family: "neue-haas-grotesk-text", sans-serif;
    font-weight: 500;
}

a {
    font-family: "times-new-roman", serif;
    font-weight: 700;
    font-style: italic;
}

p {
    font-family: "times-new-roman", serif;
    font-weight: 400;
    font-style: normal;
}

#home-page  {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    height: 250px;
    width: 1000px;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#name {
    font-size: 96px;
}

#link-bar {
    height: 50px;
    width: 1000px;
    border: 1px solid black;
    margin: 5px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

#home-content {
    display: flex;
}

#c1, #c2, #c3 {
    display: flex;
    flex-direction: column;
    margin: 5px;
}

#updates, #many-paths-container {
    height: 300px;
    width: 300px;
    margin: 5px;
}

#many-paths-container {
    background: black;
}

#updates {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#update-header {
    height: 50px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#update-text {
    border: 1px solid black;
    height: 200px;
    width: 300px;
    overflow: auto;
}

.update {
    padding: 10px;
}

#update-buttons {
    height: 50px;
    width: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#c1 {
    justify-content: space-evenly;
}

#c2 {
    height: 640px;
    width: 500px;
    
}

#c2-header {
    height: 50px;
    width: 500px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: red;
}

#c2-text {
    height: 590px;
    width: 500px;
    border: 1px solid black;
    overflow: auto;
}

.home-icons {
    height: 150px;
    width: 150px;
    margin: 5px;
}

#icon3 {
    border: 1px solid blue;
}

.secondary-page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.secondary-page-title {
    font-size: 62px;
}

#writing-container {
    height: 1000px;
    width: 500px;
    overflow: auto;
    border: 1px solid black;
    margin: 5px;
}

#writing-row {
    display: flex;
    flex-direction: row;
}

#writing-about {
    border: 1px solid black;
    height: 300px;
    width: 300px;
    margin: 5px;
}

#elec-projects {
    border: 1px solid black;
    height: 600px;
    width: 300px;
    margin: 5px;
}

#coding-row {
    display: flex;
    flex-direction: row;
}

#coding-gallery {
    border: 1px solid black;
    height: 500px;
    width: 500px;
    margin: 5px;
}

.media-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: scroll;
}

.media-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10px;
}

#petersburg-header {
    display: flex;
    flex-direction: row;
    align-items: center;
}

#game-about {
    border: 1px soldi black;
    width: 600px;
}

#zine-container {
    border: 1px solid black;
    width: 1000px;
    height: 700px;
    margin: 5px;
}

#zine-title {
    margin-top: 50px;
    margin-bottom: 5px;
    font-size: 48px;
    width: 1000px;
    text-align: center;
}