:root {
    --neon-yellow: #D9FF00;
    --neon-pink: #FF0059;
    --white: #f6f8f7;
    --black: #222224;
}

body {
    background-color: #f6f8f7;
}

::-moz-selection { /* Code for Firefox */
  color: var(--neon-pink);
  background: var(--neon-yellow);
}

::selection {
  color: var(--neon-pink);
  background: var(--neon-yellow);
}

.page-container {
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.page-contents {
    height: 75vw;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header {
    height: 18vw;
    width: 80vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-family: "clarendon-urw", serif;
    font-style: normal;
    font-size: 2.4vw;
    text-align: center;
    color: var(--black);
}

#links {
    height: 5vw;
    width: 90vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    font-family: "nimbus-sans";
    font-weight: 400;
    font-style: italic;
    font-size: 3.1vw;
}

a:visited {
    color: var(--black);
}

a:link {
    color: var(--black);
}

#blog-link:hover, #coding-link:hover, #art-link:hover, #misc-link:hover, #contact-link:hover, .update-link:hover {
    background: var(--neon-yellow);
    color: var(--neon-pink);
    font-size: 4vw;
}

.update-link:hover {
    color: var(--neon-pink);
    font-size: 1.4vw;
}

#columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#left-column {
    height: 53vw;
    width: 32vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#quick-updates {
    width: 32vw;
    height: 16vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#updates-header {
    width: 32vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "clarendon-urw", serif;
    font-style: normal;
    font-size: 2vw;
    color: var(--black);
}

#updates-text {
    width: 32vw;
    height: 7vw;
    border: 2px solid var(--neon-yellow);
    border-radius: 10px;
    color: var(--black);
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 1.25vw;
    overflow: auto;
}

.update {
    margin-top: 1vw;
    margin-left: 1vw;
    margin-right: 1vw;
    margin-bottom: 2vw;
}

canvas {
  display: block;
}

.canvas-container {
    display: flex;
    align-items: center;
    height: 32vw;
    width: 32vw;
}

#homepagesketch {
    display: flex;
    flex-direction: column;
}

#cool-stuff {
    color: var(--black);
    font-family: "clarendon-urw", serif;
    font-weight: 700;
    font-style: italic;
    font-size: 1.25vw;
    background: var(--neon-yellow);
}

#right-column {
    height: 66vw;
    width: 56vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#row-one {
    height: 54vw;
    width: 58vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

#intro {
    height: 52vw;
    width: 40vw;
    border: 2px solid var(--neon-yellow);
    border-radius: 10px;
}

#intro-header {
    height: 7vw;
    width: 40vw;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "clarendon-urw", serif;
    font-style: normal;
    font-size: 1.65vw;
    color: var(--black);
    background: var(--neon-yellow);
}

#intro-body {
    height: 45vw;
    width: 40vw;
    color: var(--neon-yellow);
    text-align: center;
    overflow: auto;
}

#intro-text {
    margin-top: 5px;
    margin-left: 10px;
    margin-right: 10px;
    font-family: "nimbus-sans", sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 3vw;
    color: var(--black);
}

#row-two {
    height: 8vw;
    width: 56vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#pengergif {
    width: 7.5vw;
    height: 7.5vw;
}

.canvas-container {
    border-radius: 5px;
    height: 32vw;
    width: 32vw;
    margin-top: 5px;
    margin-bottom: 5px;
}

#computer-img, #book-img, #hand-img {
    width: 15vw;
    margin-left: 1.5vw;
}

#lightbulb-img, #cat-img {
    width: 10vw;
    height: 10vw;
}

#cat-img:hover, #lightbulb-img:hover {
    cursor: pointer;
}

.header-image-holder {
    width: 10vw;
    height: 10vw;
    display: flex;
    align-items: center;
}