:root {
    --neon-yellow: #D9FF00;
    --white: #f6f8f7;
    --black: #222224;
    --neon-pink: #FF0059;
}

body {
    background: var(--white);
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    font-family: "clarendon-urw", serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: var(--black);
}

#text {
    font-family: "nimbus-sans", sans-serif;
    color: var(--black);
}

#home-link {
    font-family: "nimbus-sans", sans-serif;
    color: var(--black);
}

.paragraph {
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

a:visited {
    color: var(--black);
}

a:hover {
    background: var(--neon-yellow);
    color: var(--neon-pink);
}