:root {
    --neon-yellow: #D9FF00;
    --neon-pink: #FF0059;
    --white: #f6f8f7;
    --black: #222224;
}

::-moz-selection { /* Code for Firefox */
  color: var(--neon-pink);
  background: var(--neon-yellow);
}

::selection {
  color: var(--neon-pink);
  background: var(--neon-yellow);
}

body {
    background: var(--white);
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, #heading {
    font-family: "clarendon-urw", sans-serif;
    color: var(--black);
}

#home-link {
    font-family: "nimbus-sans", sans-serif;
    color: var(--black);
}

#top-links {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

#educational-links-container {
    border: 2px solid var(--neon-yellow);
    border-radius: 10px;
    width: 38vw;
    height: 30vw;
    background: var(--black);
    color: var(--neon-yellow);
    overflow: auto;
}

.cool-link, .cool-link:visited, .educational-link, .educational-link:visited {
    color: var(--neon-yellow);
    font-family: "nimbus-sans", sans-serif;
    margin-left: 10px;
}

.cool-link:hover, .educational-link:hover, #home-link:hover {
    color: var(--neon-pink);
    background: var(--neon-yellow);
}

#fun-links-container {
    border: 2px solid var(--neon-yellow);
    border-radius: 10px;
    width: 38vw;
    height: 30vw;
    background: var(--black);
    color: var(--neon-yellow);
    overflow: auto;
}

#coding-gallery-title, #big-projects-title {
    text-align: center;
    font-family: "clarendon-urw", serif;
}

#big-projects-title {
    color: var(--neon-yellow);
}

#coding-gallery-title {
    color: var(--neon-yellow);
}

#media-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.media-block {
    width: 80vw;
    height: 23vw;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
    border-radius: 10px;
}

.media-block-heading {
    font-family: "clarendon-urw", serif;
    margin-bottom: 5px;
}

.even-block {
    background: var(--white);
    border: 2px solid var(--neon-pink);
    color: var(--neon-pink);
}

.odd-block {
    background: var(--black);
    color: var(--white);
}

.recs {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 80vw;
    height: 18vw;
}

.album-rec {
    border: 2px solid var(--neon-yellow);
    background: var(--white);
    border-radius: 10px;
    height: 13vw;
    width: 13vw;
    margin-left: 1vw;
    margin-right: 1vw;
}

.current_rec {
    height: 13vw;
    margin-left: 1vw;
    margin-right: 1vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.album-cover {
    width: 12vw;
    height: 12vw;
    border-radius: 10px;
    border: 2px solid var(--neon-yellow);
}

.tv-img {
    height: 12vw;
    border-radius: 10px;
    border: 2px solid var(--neon-yellow);
}

.book-cover {
    height: 12vw;
    border-radius: 10px;
    border: 2px solid var(--neon-yellow);
}

.current-subheader {
    margin-top: 0px;
    margin-bottom: 5px;
    font-family: "nimbus-sans", sans-serif;
}

.media-title {
    margin-top: 1px;
    font-family: "nimbus-sans", sans-serif;
    font-size: 1.1vw;
    font-style: italic;
    text-align: center;
}

#yamaha-qy70 {
    height: 12vw;
    border-radius: 10px;
    border: 2px solid var(--neon-yellow);
}