:root {
    --neon-yellow: #D9FF00;
    --neon-pink: #FF0059;
    --white: #f6f8f7;
    --black: #222224;
}

body {
    background: var(--white);
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header {
    color: var(--black);
    font-family: "clarendon-urw", serif;
    font-size: 2vw;
}

#home-link {
    font-family: "nimbus-sans", sans-serif;
}

a:visited {
    color: var(--black);
}

a:hover {
    background: var(--neon-yellow);
    color: var(--neon-pink);
}

#comp-projects {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 80vw;
}

#coding-gallery {
    border: 2px solid var(--black);
    border-radius: 10px;
    width: 42vw;
    height: 70vw;
}

#big-projects {
    border: 2px solid var(--neon-yellow);
    border-radius: 10px;
    width: 34vw;
    background: var(--black);
    color: var(--neon-yellow);
}

#coding-gallery-title, #big-projects-title {
    text-align: center;
    font-family: "clarendon-urw", serif;
}

#big-projects-title {
    color: var(--neon-yellow);
}

#coding-gallery-title {
    color: var(--black);
}

#page-intro {
    font-family: "nimbus-sans", sans-serif;
    margin-left: 10vw;
    margin-right: 10vw;
    margin-bottom: 2vw;
    text-align: center;
    color: var(--black);
}

.project-link,
.project-link:visited {
    margin-left: 1vw;
    margin-right: 1vw;
    color: var(--neon-yellow);
    font-family: "nimbus-sans", sans-serif;
    font-size: 1.5vw;
}

.project-link:hover {
    color: var(--neon-pink);
}