:root {
    --pea-green: #C8E016;
    --purple-gray: #8d7d89;
    --dark-purple-gray: #3D323A;
}

#page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

body {
    background-color: var(--purple-gray);
}

#title {
    height: 50px;
    width: 750px;
    margin-top: 5px;
    margin-bottom: 5px;
    /*border: 1px solid black;*/
    color: var(--pea-green);
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-family: "tourney-variable", sans-serif;
    font-variation-settings: "wdth" 100, "wght" 1000;
    font-style: normal;
}

#subtitle {
    /*border: 1px solid black;*/
    height: 50px;
    width: 750px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--dark-purple-gray);
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "clarendon-urw", serif;
    font-style: italic;
}

.canvas-container {
    border: 3px solid #C8E016;
    border-radius: 5px;
    height: 450px;
    width: 450px;
    margin-top: 5px;
    margin-bottom: 5px;
}

#caption {
    /*border: 1px solid black;*/
    height: 250px;
    width: 500px;
    margin-top: 5px;
    margin-bottom: 5px;
    color: var(--dark-purple-gray);
    font-family: "clarendon-urw", serif;
}

#link-to-gallery {
    /*border: 1px solid black;*/
    margin-top: 5px;
    margin-bottom: 5px;
    color: --var(--pink);
    font-family: "clarendon-urw", serif;
    font-style: italic;
}