<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="style.css">
        <link rel="stylesheet" href="https://use.typekit.net/rrn6jcb.css">
    </head>
    <body>
        <div id="page-container">
            <div id="header">
                <h1>INSERT TITLE NAME</h1>
                <p id="date">INSERT DATE WRITTEN</p>
            </div>
            <div id="text">
                <div class="paragraph">
                    INSERT PARAGRAPHS HERE
                </div>
            </div>
            <div id="tags">
                <p>
                    Tags: #Tag1, #Tag2, #Tag3
                </p>
            </div>
        </div>
    </body>
</html>